<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#325288"/>
    <link rel="apple-touch-icon" href="/images/icon/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>Restaurant Apps Catalogue</title>

  </head>
  <body>
    <header>
      <a href="#explore" class="skip-link">Skip to Content</a>
      <!-- menu navigasi -->
      <div class="navigasi">
        <div class="container">
          <div class="nav-mobile">
            <button onclick="downMenu()" id="nav-toggle"><span></span></button>
          </div>
          <div class="topnav" id="myTopnav">
            <a href="/" class="nav-home">Kulineran Yuk !</a>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#/like">Favorit</a></li>
              <li><a href="https://github.com/fauzan1892">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- menu navigasi -->
    <div class="clearfix"></div>
    <!-- main content -->
    <main id="mainContent"></main>
    <!-- main content -->
    <!-- footer -->
    <footer>
      <div class="footer">
        <div class="container">
          <p>Copyright &copy; 2021 - Kulineran Yuk ! Apps </p>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </body>
</html>
